/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

/* header */

.container {
    margin: 0 auto;
    max-width: 100%;
}

main.container{
    max-width: 80%;
}

.block {
    display: block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


.row {
    flex-direction: row;
    display: flex;
    margin-bottom: 200px;
}

.column {
    flex-direction: column;
}

.col-4 {
    max-width:calc( 4 * 100% / 12) ;
    padding: 5px;
}

.badge {
    z-index: 1;
}

.sost

.sconto

.preferiti {
    position: absolute;
    top: 0;
}

.img-smile {
    max-width: 300px;
}

.prezzo {
    font-size: 14px;    
    color: red;
}

.Marca {
    font-size: 12px
}

.Nome-item{
    font-size: 20px;
}


/* debug */

/* .debug .container .col-4{
    background-color: red;
} */

/*.card {
    border: 1px solid black;
} */
