/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

/* header */

.container {
    margin: 0 auto;
    max-width: 100%;
}

main.container{
    max-width: 80%;
}

.block {
    display: block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


.row {
    flex-direction: row;
    display: flex;
    margin-bottom: 200px;
    justify-content: space-evenly;
}

.card {
    padding: 5px;
}

.column {
    flex-direction: column;
}

.col-4 {
    max-width:calc( 4 * 100% / 12) ;
    
}

/* 
.badge {
    z-index: 1;
} */

.presconto {
    color: black;
}

.sost {
    font-size: 20px;
    bottom: 50px;
    left: 50px;
    margin-left: 10px;
    background-color: Green;
    color: white;
    padding: 2px;
}

.sconto {
    font-size: 20px;
    bottom: 50px;
    margin-left: 5px;
    background-color: red;
    color: white;
    padding: 2px;
}

.preferiti {
    font-size: 30px;
    top: 15px;
    right: 15px;
}

.img-smile {
    max-width: 300px;
    margin-bottom: 10px;
}

.prezzo {
    font-size: 14px;    
    color: red;
}

.Marca {
    font-size: 12px
}

.Nome-item{
    font-size: 20px;
}


/* debug */
/* 
.debug .container .col-4{
    background-color: red;
} */
 */
